{% extends "base.html" %}

{% block content %}
<div class="bg-danger w-50 h-50 rounded d-flex justify-content-center align-items-center flex-column">
    <form action="" class="d-flex align-items-center justify-content-center flex-column w-100 h-100">
        <p class="form label mb-1">Add new <strong>category</strong></p>
        <input type="text" class="rounded mb-2 form custom-input" placeholder="Category...">
        <button type="submit" class="rounded form custom-button">Submit</button>  
    </form>
</div>
{% endblock %}

