<nav class="navbar navbar-expand-lg bg-danger">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="#">E-Tracker</a>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0">
            <li>
                <span class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Expenses
                    </a>
                    <ul class="dropdown-menu bg-danger">
                      <li><a class="dropdown-item text-light" href="{% url 'add_transaction' %}">Add transaction</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item text-light" href="{% url 'add_category' %}">Add category</a></li>
                    </ul>
                </span>
            </li>
            <li>
                <span class="nav-item dropdown ml-3">
                    <a class="nav-link dropdown-toggle text-light" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Report
                    </a>
                    <ul class="dropdown-menu bg-danger">
                      <li><a class="dropdown-item text-light" href="{% url 'spreadsheet' %}">Spreadsheet</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item text-light" href="{% url 'chart' %}">Chart</a></li>
                    </ul>
                </span>
            </li>
            <li>
                <span class="nav-item ml-3">
                    <a class="nav-link text-light" href="" aria-expanded="false">Log out</a>
                </span>
            </li>
        </ul>
      </div>
    </div>
  </nav>