{% extends "base.html" %}
{% block title %} E-Tracker {% endblock %}
{% block content %}
{% if error_pass_match %}
<div class="alert alert-danger bg-danger text-light mb-3" role="alert">
    Passwords don't match
</div>
{% endif %}
<div class="bg-danger d-flex justify-content-center align-items-center rounded" id="signup-form">
    <form action="{% url 'signup_view' %}" method="POST" class="d-flex align-items-center justify-content-center flex-column w-100 h-100">
        {% csrf_token %}
        <p class="label">Get started...</p>
        <input type="text" name="username" class="rounded mb-2 form custom-input" placeholder="Username...">
        <input type="text" name="email" class="rounded mb-2 form custom-input" placeholder="Email...">
        <input type="password" name="password" class="rounded mb-2 form custom-input" placeholder="Password...">
        <input type="password" name="confirm-password" class="rounded mb-2 form custom-input" placeholder="Confirm password...">
        <button type="submit" class="rounded form custom-button">Submit</button>  
        <p class="text-light mt-2"> 
            Have an account already? <a class="text-light" href="{% url 'login_view' %}"><u>Log in</u></a> 
        </p>
    </form>
</div>
{% endblock %}